body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.horizontal-headings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.nav-box {
  display: inline-block;
  padding: 10px 20px;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 8px;
  transition: transform 0.2s, background-color 0.3s ease;
}

.nav-box:hover {
  background-color: #444;
  transform: scale(1.05);
}

.nav-box h2 {
  margin: 0;
}

/* Section Styling */
section {
  display: none;
  padding: 40px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Typewriter Effect */
.typewriter {
  overflow: hidden;
  border-right: .15em solid rgb(24, 26, 136);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(24, 26, 136); }
}
